From: <Saved by Blink>
Snapshot-Content-Location: https://www.pythonanywhere.com/user/tlan2/files/home/tlan2/mysite/templates/espn_view.html
Subject: ESPN Results-FF Auction Draft Calculator
Date: Wed, 24 Jun 2020 20:19:36 -0000
MIME-Version: 1.0
Content-Type: multipart/related;
	type="text/html";
	boundary="----MultipartBoundary--TG6QIR3y6SbV4fAJafFtFxdeHKFDgC7h4f7ihzj77M----"


------MultipartBoundary--TG6QIR3y6SbV4fAJafFtFxdeHKFDgC7h4f7ihzj77M----
Content-Type: text/html
Content-ID: <frame-BF9B64069CD6E1C9A8A1E3F49B34F621@mhtml.blink>
Content-Transfer-Encoding: quoted-printable
Content-Location: https://www.pythonanywhere.com/user/tlan2/files/home/tlan2/mysite/templates/espn_view.html

<html><head><meta http-equiv=3D"Content-Type" content=3D"text/html; charset=
=3DUTF-8"></head><body data-gr-c-s-loaded=3D"true" class=3D""><div id=3D"St=
ayFocusd-infobar" style=3D"display:none;">
    <img src=3D"chrome-extension://laankejkbhbdhmipfmgcngdelahlfoji/common/=
img/eye_19x19_red.png">
    <span id=3D"StayFocusd-infobar-msg"></span>
    <span id=3D"StayFocusd-infobar-links">
        <a id=3D"StayFocusd-infobar-never-show">hide forever</a>&nbsp;&nbsp=
;|&nbsp;&nbsp;
        <a id=3D"StayFocusd-infobar-hide">hide once</a>
    </span>
</div>{% extends "layout.html" %}

{% block content %}
<!--<link rel=3Dstylesheet type=3Dtext/css href=3D"{{ url_for('static', fil=
ename=3D'main.css') }}"> -->
<title>ESPN Results-FF Auction Draft Calculator</title>
  <h2>ESPN Default Settings Result</h2>
  {% for table in tables %}
    <h3>{{titles[loop.index]}}</h3>
    {{ table|safe }}
  {% endfor %}
{% endblock %}
</body></html>
------MultipartBoundary--TG6QIR3y6SbV4fAJafFtFxdeHKFDgC7h4f7ihzj77M----
Content-Type: image/png
Content-Transfer-Encoding: base64
Content-Location: chrome-extension://laankejkbhbdhmipfmgcngdelahlfoji/common/img/eye_19x19_red.png

iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAYAAAByUDbMAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJ
bWFnZVJlYWR5ccllPAAABLdJREFUeNpUlFtsFGUUx/9z2Z3Z2e3eu92hobW0JYVAQ7lUKuESeTAY
iA0xMUbRxEsMgsFbjC+88OQDvADxQV8ID5gYKRgDEqLQgJdYi5LG0uViuylt9zbdmdnLMLtz87QR
jJOcyWTyff/vnPP/nY8ZHx8HWBaoVlE6dw7B1laUbt8OFBRlj880t7cw7DZT0eKB9nY9IIq/wcf8
El3VeSkaS6gMALPZRPLgQbCBAHj8+zAcR8FCmZp6vXxr4pMWm1vbIUURS8QhDa4HFwnTeZWNFU09
aM7kZuu1xslQR/sJMMxjCfAsQ1mRkEMnlH6/dZy5N/fRgNyNaFJGMChB6pUR6GyHL90K+P2ol1VU
CoUO9e794/q9BwO+rs63SNBcFkuvkNEkoZvvf3BKmlYOb1wzBEkKwnBtmDEJaI0DyTg4Kp+V2xBs
NhCsGYh3r0Lmh+uvqLPzoaTr7ictlxUp/fzlyy+y45nDm3oGEJIkNDwHNZZDQeRRCrAo+1mwA+uB
/rXA5gFgy2YIq3vx1DNbAd14oXB+5EMxFAJbmJn23/38y2MbOtYiQmU14KJqu9Cq88h6Ov4iwVpP
F2WYeNIbBAWgbzUichpyby9KFy99as/OJll1bHx3LF9bI7W2oeK5lBULXZ/DNVvBFdeFwvuwsq8P
f8/M4H9POAj4eIRTKTiL1cSDby7sZxcvX92diiXJThYNCvNRFZOuiguWixLh0jQMuI6DLIktLCz8
J0Z9axQX4dk2BM4H5frNvXzlx2sb+nq3YMlgl95VS8MEPFQ9aoeioFQqIZvNIp/Po1wuw088pQIC
5FwR0QUFTlkHYztoZGd6eN5x4x7HE3AuHHCwPAtlEuYIZFVVkcvlIMsyJicnMTY2hpZIBFQgBo0G
BL0JbjYHQ62g6FYCbJMhCkjIRwv8y9mxCDwGmYDMZDI4evQoRFHEvn37UNY0TN+ZxKOpu9CnpuFk
HkJQa2DEgMUd2DK4VdLqm6RQHA7PUQ9c1OwKJghkeB4UKnN0dBQjIyOQgkE4lHH9u4tYt2AgoFnw
qgZUowinq32ST24bujH/2cm3mRo1MpaA4zLoLjew5lER39ZNWOYy3HDIhNOnTqGPvj+mOoSIDEGi
XtlNaKgjPtB/lY/tff575YszijafTbbUGxB5P8KGgOcqBiQ08RNt1ihaKIYotlN3u8I9SBGTfstB
vq6izvms9K6d5/nEuvWL5TdeO1k8fuIY1wyRzTFEQkF0+dchUS9hd1OD7lpoo4mQfBGakCRaBAku
MViu6yjaOaSHh8/IO3ZkmCb9tKpV8cquZ6+xf94ZSoZXQBTCEHwCAcLB9GhGvSWDWIgkGCCLeMpI
J6GcMYdqW3R6w9dfbU3095fYJej84bDZ++47w3Zn+melsoDFaoEWq2AaVYRo4NuovAgJcg0Ctaaj
oM7hofEQRmsks/LIoT31WKx0n9BZvs9cy6LbRSj2vXdob+bs2ROViXuvKqbmj3ASEkQ3KCPbcWFb
JnSaXoaMrqVjF+WXXzoSSKVmHdrPkftPLselkeFFUUs8Pfim273qdEOrHMiN/bFTbzZlv2kLHs9b
bDpasPwtv7YPD5/z5XM3fHS/eZb9ZML+EWAAhAgjbFE66RIAAAAASUVORK5CYII=

------MultipartBoundary--TG6QIR3y6SbV4fAJafFtFxdeHKFDgC7h4f7ihzj77M------
